*{
    box-sizing: border-box;
}

body {
    background-color:  #48a30012;
    font-family: 'poppins', sans-serif;
    margin: 0;
}

main {
  padding: 0 16px 32px;
}

.title {
    font-size: 64px;
    color: #48a300;
    text-align: center;
}

.title span {
    color: #61481c;
}

.app-container {
    background-color: #ffffff;
    max-width: 660px;
    padding: 32px 42px;
    margin-inline: auto;
    border-radius: 15px;
    padding: 32px 48px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.sun-icon {
    vertical-align: middle;
    padding-left: 15px;
}


.progress-label {
    font-size: 14px;
    color: #858585;
    margin-bottom: 20px;
}

.progress-bar {
    height: 30px;
    background-color:  #48a30012;
    border-radius: 15px;
    margin-bottom: 42px;
}

.progress-value {
    height: 100%;
    width: 0;
    background-color:  #48a300;
    border-radius: 15px;
    font-size: 10px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.progress-value span {
  padding-left: 20px;
}

.warning-bar {
    font-size: 14px;
    color: #FF5151;
    margin-top: 8px;
    display: none;
}

.show-warning .warning-bar{
    display: block;
}

.container {
    display: flex;
    align-items: center;
    height: 82px;
    border: 1px solid #0000001A;
    border-radius: 17px;
    margin-bottom: 42px;
    padding: 0 22px;
}

.checkbox {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #61481C4D;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}

.check-icon {
    display: none;
}

.textbox {
    border: 1px solid #0000001A;
    font-style: inherit;
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
    align-self: stretch;
    border-radius: 17px;
    padding-left: 10px;
    font-weight: 500;
}

.ending-statement {
    text-align: center;
    margin: 48px 0 60px 0;
    font-size: 16px;
}

.footer {
    text-align: center;
    font-size: 10px;
    color: #858585;
}


.completed .check-icon {
    display: block;   
}

.completed .textbox {
    color:#48a300;
    text-decoration: line-through;
}



@media (max-width: 768px) {
    .title {
        font-size: 38px;
    }  

    .app-container {
        padding: 20px;
        margin: 20px;
    }
    
    .ending-statement {
        margin: 35px 0 30px 0;
    }
}